.note-form__main-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.note-form__header-container {
  width: 100%;
}

.note-form__back-button {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}
.note-form__back-button > svg {
  margin-right: 5px;
}

.note-form__content-container {
  flex: 1;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.note-form__title-input {
  border: none;
  outline: none;
  border-bottom: 2px solid grey;
  padding: 5px 10px;
  width: 100%;
  font-size: 24px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.note-form__text {
  width: 100%;
  flex: 1;
  padding: 5px 10px;
  font-size: 18px;
  box-sizing: border-box;
  resize: none;
  font-family: Verdana, sans-serif;
  border: none;
  outline: none;
}

.note-form__save-button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: #ccaabb;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
