.nav-item__main-container {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Verdana, sans-serif;
}

.nav-item__title {
  font-size: 12px;
  margin: 0;
}

.nav-wrapper__main-container {
  color: #000;
}
