.layout__main-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
}

.layout__content-container {
  flex: 1;
  position: relative;
}
.layout__content-container > div {
  height: 100%;
}

.layout__nav-container {
}

.layout__modal-container {
  position: absolute;
}
